#title {
    font-family: Arial, Helvetica, sans-serif;
}

.box {
    background-color: blueviolet;
    text-align: justify;
    border: 5px solid blue;
    height: 600px;
    padding: 25px 30px 20px 35px;
    background-image: url("../9040034f5d635f46a4fb92128964fcca.jpg");
}